

:root {
    --header-main-height: 80px;

}

#header-main {
    height: var(--header-main-height);
}

#section-main {
    height: calc(100vh - var(--header-main-height));
}

#content-main {
    overflow-y: auto;
}

#logo-section > img:last-child {
    height: 60px;
}

#icon-section .fa-bell {
    color: var(--bs-warning);
}

#section-main {
    background-image: url(../img/sidebar-bg.png);
    background-color: #031633;
}

#section-main .navbar-nav  li > * {
    color: white;
}