

:root {
    --header-main-height: 80px;

}


#header-main {
    height: var(--header-main-height);
}

#section-main {
    height: calc(100vh - var(--header-main-height));
}

#content-main {
    overflow-y: auto;
}

